baseurl = "https://example.com/"
title = "fajar.today"
theme = "/"
languageCode = "en-us"

[params]
  # Cutting off the page title to two chars for mobile (console-demo -> co)
  titleCutting = true

  # Set the animation style -- https://animate.style/
  # To disable animations, please remove or comment animationStyle parameter
  animateStyle = "animated zoomIn fast" 

  [[params.navlinks]]
  name = "posts/"
  url = "posts/"

  [[params.navlinks]]
  name = "notes/"
  url = "notes/"
  
  [[params.navlinks]]
  name = "photos/"
  url = "photos/"

[permalinks]
  posts = "/:slug/"