{{ define "main" }}
  <article class="main flex items-center gap-6">
    <!-- Gambar di kiri -->
    <div class="flex-shrink-0">
      <img
        src="{{ .Params.image | default "/pic.png" }}"
        alt="{{ .Title }}"
        class="h-32 w-32 rounded-full object-cover shadow-lg"
      />
    </div>

    <!-- Konten di kanan -->
    <div class="flex-1">
      {{- with .Title }}
        <header>
          <h1 class="!mb-1 text-2xl font-bold">{{ . }}</h1>
        </header>
      {{ end -}}
      {{- with .Content }}
        <div class="prose prose-slate max-w-none">
          {{ . }}
        </div>
      {{ end -}}
    </div>
  </article>

  {{- if default true site.Params.home.showRecentPosts }}
    {{- $posts := where site.RegularPages "Section" "posts" -}}
    {{- with $posts.Limit (int (default 3 site.Params.home.recentPostsLimit)) }}
      <section>
        <h2>Recent posts</h2>

        {{ partial "posts/list.html" . }}
      </section>
    {{ end -}}
  {{ end -}}

  {{- if default true site.Params.home.showRecentNotes }}
    {{- $notes := where site.RegularPages "Section" "notes" -}}
    {{- with $notes.Limit (int (default 5 site.Params.home.recentNotesLimit)) }}
      <section>
        <h2>Recent notes</h2>

        {{ partial "notes/list.html" . }}
      </section>
    {{ end -}}
  {{ end -}}
{{ end }}
