.topbanner {
  z-index: 99999999;
  /* margin-bottom: 60px; */
  width: 100%; /* Lebar 100% */
  position: fixed;
  text-align: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    266deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(29, 68, 163, 1) 100%
  );
}

.topbanner a,
.topbanner span {
  display: inline-block;
}

.topbanner a {
  width: 100%;
  padding: 5px 0;
  text-decoration: none;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.topbanner span {
  width: 50px;
  font-weight: bold;
  height: 28px;
  line-height: 28px;
  background-color: #5c99d7;
  border-radius: 5px;
}

.topbanner a:hover {
  color: #fff9e0;
}
